#textdomain wesnoth-Star_Wars_Thrawn_Trilogy

[unit_type]
    id=Thrawn_Phalanx
    name=_"Thrawn Phalanx"
    description=_"A disciplined line infantry unit trained in coordinated shield and weapon formations. The Phalanx serves as the backbone of frontline ground operations, relying on teamwork and resilience rather than individual heroics."
    undead=no
    race=human
    icon=~add-ons/Star_Wars_Thrawn_Trilogy/images/units/human/militiaman.png
    profile=~add-ons/Star_Wars_Thrawn_Trilogy/images/portraits/human/militiaman.png
    hitpoints=48
    movement_type=foot
    level=0
    experience=0
    alignment=neutral
    cost=13
    usage=fighter
    [attack]
        name=pike
        description=_"pike"
        type=pierce
        range=melee
        damage=9
        number=2
    [/attack]
    [defense]
        deep_water=60
        reef=60
        flat=70
        sand=70
        forest=80
        rough=80
        wall=90
        castle=90
        village=90
        unwalkable=100
        frost=70
        swamp=75
    [/defense]
[/unit_type]
