#textdomain wesnoth-Star_Wars_Thrawn_Trilogy
[textdomain]
    name="wesnoth-Star_Wars_Thrawn_Trilogy"
    path="data/add-ons/Star_Wars_Thrawn_Trilogy/translations"
[/textdomain]

[campaign]
    id=Star_Wars_Thrawn_Trilogy
    name=_"Star Wars: Thrawn Trilogy"
    define=CAMPAIGN_STAR_WARS_THRAWN_TRILOGY
    first_scenario=01_First_Battle
[/campaign]

#ifdef CAMPAIGN_STAR_WARS_THRAWN_TRILOGY
    {~add-ons/Star_Wars_Thrawn_Trilogy/scenarios}
    {~add-ons/Star_Wars_Thrawn_Trilogy/units}
    {~add-ons/Star_Wars_Thrawn_Trilogy/utils/mission_events.cfg}
#endif
